.body-container {
  margin-top: 70px;
  margin-bottom: 100px;
  overflow-y: scroll;
}

#user-profile-picture {
  float: left;
  margin-right: 15px;
  border-radius: 50%;
  height: 50px;
}

.d-block {
  border-radius: 50%;
  width: 150px;
  height: auto;
}

/*------------------------------*/
/*------------Index-------------*/
/*------------------------------*/
#index-spacer-block {
  display: block;
  height: 24vh;
}

#index-landing-page {
  padding: 10%;
}

#index-heading1 {
  font-weight: bold;
  font-size: 50pt;
  color: #393D47;
}

#index-heading2 {
  font-size: 26pt;
  color: rgb(104, 104, 104);
}


/*------------------------------*/
/*------------Navbar------------*/
/*------------------------------*/
.bottom-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #f1f1f1;
  width: 100vw;
  height: 100px;
  z-index: 1000;
  padding-left: 13%;
  padding-right: 13%;
}

.bottom-nav img {
  width: 30px;
}

.nav-item {
  display: flex;
  justify-content: center;
}

.nav-item.active img {
  width: 40px;
}


/*------------------------------*/
/*------------Sidebar-----------*/
/*------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html,
body {
  overflow-x: hidden;
  height: 100%;
}

body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  padding-left: 10px;
  right: 0;
  top: 0;
  width: 250px;
  margin-top: 70px;
  background: linear-gradient(180deg, #6096B4 0%, #EEE9DA 100%);
  transform: translateX(250px);
  transition: transform 250ms ease-in-out;
  z-index: 2;
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  z-index: 1001;
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked~#sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 26px;
  right: 26px;
  height: 22px;
  width: 22px;
  z-index: 1000;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/* Sidebar end */

/* Navigation End */




/* learn more */
#body-container {
  margin: 20% 0% 20%;
}

.card {
  padding: 20px;
}

/* learn more end*/