* {
  font-family: monospace;
  font-size: 14pt;
}

.body-container {
  margin-top: 6vh;
  margin-bottom: 100px;
  overflow-y: scroll;
}

#user-profile-picture {
  float: left;
  margin-right: 15px;
  border-radius: 50%;
  height: 50px;
}

#openSidebarMenu {
  display: none;
}

.d-block {
  border-radius: 50%;
  width: 150px;
  height: auto;
}


/*------------------------------*/
/*------------Header------------*/
/*------------------------------*/

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6096B4;
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6vh;
  margin: 0;
  z-index: 1000;
}


#title {
  display: flex;
  margin: auto 0;
}

/*------------------------------*/
/*------------Navbar------------*/
/*------------------------------*/
.bottom-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: #f1f1f1;
  width: 100vw;
  height: 100px;
  z-index: 1000;
  margin: 0;
  padding: 0;
}

.bottom-nav img {
  width: 35px;
}


.nav-item {
  display: flex;
  justify-content: center;
}


/*------------------------------*/
/*------------Sidebar-----------*/
/*------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html,
body {
  overflow-x: hidden;
  height: 100%;
}

body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  padding-left: 10px;
  right: 0;
  top: 0;
  width: 250px;
  margin-top: 70px;
  background: linear-gradient(180deg, #6096B4 0%, #EEE9DA 100%);
  transform: translateX(250px);
  transition: transform 250ms ease-in-out;
  z-index: 2;
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  z-index: 1001;
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked~#sidebarMenu {
  transform: translateX(0);
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 26px;
  right: 26px;
  height: 22px;
  width: 22px;
  z-index: 1000;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/* Sidebar end */

/* Navigation End */


/*------------------------------*/
/*------------Index-------------*/
/*------------------------------*/
#index-spacer-block {
  display: block;
  height: 24vh;
}

#index-landing-page {
  padding: 10%;
}

#index-heading1 {
  font-weight: bold;
  font-size: 50pt;
  color: #393D47;
}

#index-heading2 {
  font-size: 26pt;
  color: rgb(104, 104, 104);
}


/*------------------------------*/
/*-------------Main-------------*/
/*------------------------------*/
.body-container>img {
  width: 100%;
}



.todo-list {
  background: #fff;
  margin: auto;
  padding: 0.5em 1em;
  /* box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2); */
}

.todo {
  display: block;
  position: relative;
  padding: 1em 1em 1em 16%;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: solid 1px #ddd;
}

.todo__add {
  border-bottom: none;
}

.todo__state {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.todo__text {
  color: #6096B4;
  transition: all 0.4s linear 0.4s;
  font-family: 'Permanent Marker', cursive;
  font-size: 20pt;
}

.todo__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20em;
  height: auto;
  margin: auto;
  fill: none;
  stroke: #27fdc7;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.todo__line,
.todo__box,
.todo__check {
  transition: stroke-dashoffset 0.8s cubic-bezier(0.9, 0, 0.5, 1);
}

.todo__circle {
  stroke: #27fdc7;
  stroke-dasharray: 1 6;
  stroke-width: 0;
  transform-origin: 13.5px 12.5px;
  transform: scale(0.4) rotate(0deg);
  animation: none 0.8s linear;
}



.todo__box {
  stroke-dasharray: 56.1053, 56.1053;
  stroke-dashoffset: 0;
  transition-delay: 0.16s;
}

.todo__check {
  stroke: #27fdc7;
  stroke-dasharray: 9.8995, 9.8995;
  stroke-dashoffset: 9.8995;
  transition-duration: 0.32s;
}

.todo__line {
  stroke-dasharray: 168, 1684;
  stroke-dashoffset: 168;
}

.todo__state:checked~.todo__text {
  transition-delay: 0s;
  color: #93BFCF;
  opacity: 0.6;
}

.todo__state:checked~.todo__icon .todo__box {
  stroke-dashoffset: 56.1053;
  transition-delay: 0s;
}

.todo__state:checked~.todo__icon .todo__line {
  stroke-dashoffset: -8;
}

.todo__state:checked~.todo__icon .todo__check {
  stroke-dashoffset: 0;
  transition-delay: 0.48s;
}

.todo__state:checked~.todo__icon .todo__circle {
  animation-name: explode;
}

/*------------------------------*/
/*-------------List-------------*/
/*------------------------------*/
.form-floating {
  margin-top: 90px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}


#habit-list {
  list-style: none;

}

.habit-text {
  font-size: 18pt;
}

#add-habit {
  margin: 5px;
}

.btn-link {
  text-decoration: none;
}

#list-page-items {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#list-container {
  margin: 10% 25%;
  color: #6096B4;
}

#list-button-container {
  text-align: center;
  display: grid;
  justify-content: center;
}

#list-title {
  background: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 30pt;
  margin: auto;
  padding: 0.5em 1em;
  text-align: center;
  color: #393D47;
}


#add-habit {
  background-color: #6096B4;
}

/*------------------------------*/
/*----------Learn More----------*/
/*------------------------------*/

.card {
  text-align: center;
  padding: 20px;
}

/* learn more end*/